.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
docs/renv/activate.R docs/renv/library docs/renv/settings.dcf docs/renv/staging
/docs/renv
/docs/renv/*
.quarto/
.DS_Store
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

/.quarto/
_site
